@mixin arrow($length,$border, $color, $angle) {
    content: '';
    display: block;
    position: absolute;
    width: $length;
    height: $length;
    border-width: $border;
    border-style: solid;
    border-color: $color $color transparent transparent;
    transform: translate(-50%, -50%) rotate($angle);
    -moz-transform: translate(-50%, -50%) rotate($angle);
    -ms-transform: translate(-50%, -50%) rotate($angle);
    -webkit-transform: translate(-50%, -50%) rotate($angle);
}
.container{
	font-size: 0;
	view{
		display: inline-block;
		overflow: hidden;
	}
}
.fix-s-n{
	width: 100%;
	overflow: hidden;
	position: fixed;
	left: 0;
	top:0;
	z-index: 1;
	.search-wrap{
		width: 100%;
		box-sizing: border-box;
		display: inline-block;
		padding: 10rpx 30rpx 20rpx 30rpx;
		background-color: #fff;
		.search-content{
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 60rpx;
			border-radius: 30rpx;
			width: 100%;
			background-color: #f5f5f5;
			.tag-search{
				display: inline-block;
				width: 40rpx;
				height: 40rpx;
				padding: 0 25rpx;
			}
			.search-text{
				font-size: 28rpx;
				color: #666;
				display: inline-block;
				flex: 1;
			}
		}
	}
}
.navBar-box{
	width: 100%;
	height: 80rpx;
	white-space: nowrap;
	box-sizing:border-box;
	padding: 0 15rpx;
	background: linear-gradient(to top, #fff, #fdfdfa);
	.cate-item{
		display: inline-block;
		font-size: 30rpx;
		padding: 0 5rpx;
		margin:0 15rpx;
		line-height: 80rpx;
		position: relative;
		color: #666;
		&.active{
			color: #333;
		}
		&.active:after{
			width: 100%;
			position: absolute;
			bottom: 2rpx;
			left: 0;
			content: '';
			height: 4rpx;
			background: #333;
		}
	}
}
.prod-list{
	margin-top: 30rpx;
	display: inline-block;
	padding: 30rpx;
	box-sizing:border-box;
	width: 100%;
	.module-item{
		width: 100%;
		display: inline-block;
		line-height: 60rpx;
		font-size: 24rpx;
		position: relative;
		background: #35495e;
		color: #fff;
		box-sizing:border-box;
		padding: 10rpx 20rpx;
		border-radius: 6rpx;
		margin-bottom: 30rpx;
		&:after{
			content: '';
			position: absolute;
			top:50%;
			right: 20rpx;
			@include arrow(20rpx,3rpx,#fff,45deg);
		}
	}
}
